main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.table {
  border: 1px solid black;
}

.table_row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: center;
}

.table_cell:first-child {
  min-width: 20px;
}

.table_cell {
  min-width: 150px;
}

.add_button {
  border: 1px solid black;
  background-color: lightgreen;
  width: 100%;
}

.add_button:hover {
  background-color: green;
  cursor: pointer;
}

header {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
